@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,body {
  height: 100%;
  width: 100%;
  margin:0;
  background:#ff7b00;
}

* {font-family:'IBM Plex Sans', sans-serif}

.board {
  display:grid;
  height:75%;
  aspect-ratio:1;
  gap:10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
  z-index:0;
}

.spot {
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:xxx-large;
}

.x {
  color:red;
}

.o {
  color:blue;
}

h1 {
  color:white;
  -webkit-text-stroke:1px black;
  margin:0;
}

.instructions {
  position:absolute;
  height:max-content;
  width:80%;
  border:3px solid white;
  border-radius:10px;
  outline:1000vh solid rgb(0,0,0,0.4);
  top:50%;left:50%;transform:translate(-50%,-50%);
  background:beige;
  z-index:5;
}